
body {
    background-color: white;
}
table {
    position: center;
}
#art {
    position: relative;
     top: 250px;
    left: 100px;
    width: 100px;
}
#comic {
    position:absolute;
    top: 250px;
    left: 0px;
    width: 100px;
}

