
body {
    background-color: white;
}

div {
   

   display: table; /* shrink wrap the contents */
    margin: 0 auto; /* center via left/right margins */
    width:100px;
  
}
#comic {
    display: block;
    margin: auto;
    width: 100px;
    
}
