

.wrapper {
	width: 500px;
	position: left;
}

.wrapper .thumbnails {
	width: 150px;
	float: right;
}



.wrapper a {
	margin: 2px;
}
.wrapper img {
	border: 1px solid #000;
}
.wrapper label > img {
	opacity: 0.6;
}
.wrapper label > img:hover {
	opacity: 1;
}
.wrapper input {
	display: none;
}
.wrapper input:checked + .full-image {
	display: block;
}
.wrapper input:checked ~ img {
	opacity: 1;
}
.wrapper .full-image {

	display: none;
	position: relative;
	top: 0;
	left: 20px;
}
.wrapper .description {
	width:95%;
	padding:5px;
	background-color:#DDDDDD;
}
.h3 {
	font-style: garamond;
}
